
<h2 class="ConfigTitle">Enter Configuration</h2>
<h3 class="ConfigInfo">Total Number of Tickets:</h3>
<input class="TextBox" type="text" name="Number of Tickets">
<h3 class="ConfigInfo">Ticket Release Rate:</h3>
<input class="TextBox" type="text" name="Number of Tickets">
<h3 class="ConfigInfo">Customer Retrieval Rate:</h3>
<input class="TextBox" type="text" name="Number of Tickets">
 <h3 class="ConfigInfo">Maximum Ticket Capacity:</h3>
<input class="TextBox" type="text" name="Number of Tickets">
<div class="button-container">
    <button class="btn" id="start-btn">Start System</button>
    <button class="btn" id="end-btn">End System</button>
</div>
