/* Main container to hold the components side by side */
.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;  /* Space between the boxes */
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
  }

  .header {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #EEEEEE;
    color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 42px;
    text-align: center;
    overflow: hidden;
    box-shadow: 3px 5px 6px rgba(169, 169, 169, 0.6); 
  }
  
  /* Styling for each box */
  .box {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;  /* Allow the boxes to grow and fill space */
    min-width: 250px;  /* Minimum width for each box */
    height: 75%; /* Make boxes full height */
    overflow: auto; /* Add scroll if content overflows */
  }
  
  /* Add some styling for the components inside the boxes */
  app-configuration, app-live-update, app-log-viewer {
    margin-bottom: 20px;
  }
  
  /* Optional: Add a border and padding to the title of each box */
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  