<div class="live-update">
  <h2>Live Updates</h2>
  <table>
    <tr>
      <th>Total Tickets</th>
      <th>Tickets Available</th>
    </tr>
    <tr>
      <td>{{ totalTickets }}</td>
      <td>{{ ticketsAvailable }}</td>
    </tr>
  </table>
  
  <div class="chart-container">
    <ngx-charts-line-chart
      [view]="chartDimensions"
      [scheme]="colorScheme"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [autoScale]="true">
    </ngx-charts-line-chart>
  </div>

  <ul>
    <li *ngFor="let update of liveUpdates">{{ update }}</li>
  </ul>
</div>